* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

.zanaves {
    background-image: url('img/zanaves.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    z-index: 50;
    position: relative;
}

.zanaves:hover {
    transform: translateY(-5%);
}

.zanaves.active {
    transform: translateY(-100%);
    transition-duration: 1s;
}

.focus {
    max-width: 1920px;
    max-height: 1280px;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ;
}

.lamp {
    width: 4%;
    height: 20%;
    position: absolute;
    top: 10%;
    left: 46%;
    z-index: 20;
}

.focus.active {
    visibility: visible;
    opacity: 1;
}

.svet {
    position: absolute;
    top: -10%;
    left: -2.9%;
    z-index: 17;
}

.fokusnik {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 34%;
    top: 42%;
    z-index: 18;
}

.hat  {
    width: 6%;
    height: 8%;
    transform: rotate(180deg);
    position: absolute;
    right: 42%;
    top: 52%;
    z-index: 18;
    
}

.bunny, .bird {
    width: 3%;
    height: 5%;
    position: absolute;
    right: 43.5%;
    top: 52.5%;
    z-index: 17;
    transition: 0.5s ease;
}

.bunny.active, .bird.active {
    top: 46%;
    transition: 1.5s ease;
}

